@page "/fligaccos/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@inject HttpInterceptorService _interceptor
@implements IDisposable


<h3 class="card-title">Flights + Hotel</h3>
<br />

<a href="/fligaccos/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Flight & Hotel
</a>
<br />
<br />

@if (FligAccos == null)
{
    <div class="alert alert-info">Loading Flight & Hotels...</div>
}
else
{
    <table class="table table-responsive" id="fligaccosTable">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Airlines</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Hotel Name</th>
                <th>Check-in Date</th>
                <th>Check-out Date</th>
                <th>Total Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fligacco in FligAccos)
            {
                <tr>
                    <td>@fligacco.Trip.Customer.Name</td>
                    <td>@fligacco.Airlines</td>
                    <td>@fligacco.DestinationFrom</td>
                    <td>@fligacco.Trip.Destination</td>
                    <td>@fligacco.AccommodationName</td>
                    <td>@fligacco.StartDate.ToString("dd MMMM yyyy")</td>
                    <td>@(fligacco.EndDate != null ? fligacco.EndDate.Value.ToString("dd MMMM yyyy") : "Determined")</td>
                    <td>@fligacco.FlighAccoFees</td>
                    <td>
                        <a href="/fligaccos/view/@fligacco.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/fligaccos/edit/@fligacco.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(fligacco.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<FligAcco> FligAccos;

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        FligAccos = await _client.GetFromJsonAsync<List<FligAcco>>($"{Endpoints.FligAccosEndpoint}");
    }

    async Task Delete(int fligaccoId)
    {
        var fligacco = FligAccos.First(q => q.Id == fligaccoId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {fligacco.Id}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.FligAccosEndpoint}/{fligaccoId}");
            await OnInitializedAsync();
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#fligaccosTable");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
        js.InvokeVoidAsync("DataTablesDispose", "#fligaccosTable");
    }
}
